<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand" routerLink="/home"><b>Marvel</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home<span class="sr-only"></span></a>
            <a class="nav-item nav-link" routerLink="/page-one" routerLinkActive="active">1</a>
            <a class="nav-item nav-link" routerLink="/page-two" routerLinkActive="active">2</a>
            <a class="nav-item nav-link" routerLink="/page-three" routerLinkActive="active">3</a>
            <a class="nav-item nav-link" routerLink="/page-four" routerLinkActive="active">4</a>
            <a class="nav-item nav-link" routerLink="/page-five" routerLinkActive="active">5</a>
            <a class="nav-item nav-link" routerLink="/page-six" routerLinkActive="active">6</a>
            <a class="nav-item nav-link" routerLink="/page-seven" routerLinkActive="active">7</a>
            <a class="nav-item nav-link" routerLink="/page-eight" routerLinkActive="active">8</a>
            <a class="nav-item nav-link" routerLink="/page-nine" routerLinkActive="active">9</a>
            <a class="nav-item nav-link" routerLink="/page-ten" routerLinkActive="active">10</a>
            <a class="nav-item nav-link" routerLink="/page-eleven" routerLinkActive="active">11</a>
            <a class="nav-item nav-link" routerLink="/page-twelve" routerLinkActive="active">12</a>
            <a class="nav-item nav-link" routerLink="/page-thirteen" routerLinkActive="active">13</a>
            <a class="nav-item nav-link" routerLink="/page-fourteen" routerLinkActive="active">14</a>
            <a class="nav-item nav-link" routerLink="/page-fifteen" routerLinkActive="active">15</a>
            <a class="nav-item nav-link" routerLink="/page-sixteen" routerLinkActive="active">16</a>
        </div>
    </div>
    </div>
    
</nav>
