<div class="container">
    <h1 class="text-center">Home</h1>
  
    <p class="text-center">Welcome to my Marvel characters app.  It is built in Angular.  Click on the button below to enter.</p>
    <div class="col-md-12 col-lg-12 card mb-8">
        <button expand="block" routerLink="/characters" class="btn btn-outline-danger">Get Started</button>
    </div><br>
  
    
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <img src="https://media.fromthegrapevine.com/assets/images/2016/9/marvel-team.jpg" alt="Marvel characters" />
    </div>
    <div class="col-md-3"></div>
</div>
    
  
  </div>